body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #ddd;
  padding: 20px;
  text-align: center;
}

main {
  margin: 20px;
}

nav {
  background-color: #444;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
}

nav a:hover {
  background-color: #444;
}

label, input, textarea {
  display: block;
  margin-bottom: 20px;
}